doctype html
html(xmlns:epub="http://www.idpf.org/2007/ops" lang=lang class=direction)
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width")
    title=title
    each style in styles
      link(rel='stylesheet' href=style)
  body.content.content--cover
    section.cover(epub:type="cover")
      h1.cover__image
        img.cover__image(src=cover alt=title width=width height=height)
