-
  var charStyle = '';
  var charContainerClass = [];
  if ( charLimit ) {
    charStyle = ':root { --max-line-width: ' + charLimit + 'em; } ';
  }
  charContainerClass = charContainerClass.join( ' ' );

doctype html
html
  head
    meta(charset='utf-8')
    title=title
    meta(name="author" content=author)
    link(rel='stylesheet' href='./css/screen.css' media='screen')
    link(rel='stylesheet' href='./css/print.css' media='print')
    style(media="print").
      @page {
        @top-center {
          content: "#{title}";
          font-size: 9pt;
          font-weight: bold;
        }
      }
      @page:first {
        @top-center {
          content: "";
        }
      }
    style=charStyle
  body
    button#toggle.toggle(title='格活')
      span
      span
      span

    .container-toc
      h1.toc-title 格活
      nav
        ol.toc-list
          each link, index in toc
            li.toc-row
              a.toc-link(href=`#${link.id}`)=link.title
              span.statistic
                span.current=0
                span.separator /
                span.target #{link.target || 0}
    main
      .container.container-title-page
        .title-page-container
          h1.title-page-title
            each line in workTitle.split('  ')
              span.title-page-string=line
          p.title-page-author=authorName

      .container-main(data-max-line=lineLimit)
        each content in contents
          section.story-content(id=content.id)
            .container!=content.html

    footer.colophon
      p.colophon-text &copy; #{year} #{authorName}
      p.colophon-total
        span.total-current
        | /
        span.total-count

  script(defer=true src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
  script(defer=true src='js/counter.js')
