doctype html
html
  head
    meta(charset='utf-8')
    title=workTitle
    link(rel='stylesheet' href='./css/print.css')
  body
    button#toggle.toggle(title='格活')
      span
      span
      span

    .container-toc
      h1.toc-title 格活
      nav
        ol.toc-list
          each link, index in toc
            li.toc-row
              a.toc-link(href=`#${link.id}`)=link.title
              span.statistic
                span.current=0
                span.separator /
                span.target #{link.target || 0}
    main
      .container.container-titlepage
        .titlepage-container
          h1.titlepage-title
            each line in workTitle.split('  ')
              span.titlepage-string=line
          p.titlepage-author=authorName
      .container-main(data-max-char=charLimit data-max-line=lineLimit)
        each content in contents
          section.story-content(id=content.id)
            .container!=content.html

    footer.colophon
      p.colophon-text &copy; #{year} #{authorName}
      p.colophon-total
        span.total-current
        | /
        span.total-count

  script(defer=true src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
  script(defer=true src='js/counter.js')
